---
import { countries } from "@constants/countries"
import { formatDateTime } from "@utils/formatDate"

export interface Props {
  activeCountry: string
}

const { activeCountry } = Astro.props
---

<div class="header-top">
  <p class="header-date">ES | {formatDateTime(new Date())}</p>
</div>
<header class="header">
  <div>
    <img class="header-logo" src="../logo-white.png" alt="África al Día" />
    <h1 class="header-title">África al Día</h1>
  </div>
  <p class="header-description">
    Las noticias más relevantes sobre África publicadas en los principales
    medios de comunicación de España.
  </p>
  <div class="country-selector">
    {
      countries.map((country) => (
        <a
          href={`/${country.code}`}
          class={`country${activeCountry === country.code ? " active" : ""}`}
        >
          {country.icon} {country.name}
        </a>
      ))
    }
  </div>

  <video
    class="background-video"
    autoplay
    loop
    muted
    playsinline
    poster="src/assets/background-header.jpg"
  >
    <source type="video/mp4" />
    <img
      src="src/assets/background-header.jpg"
      title="Your browser does not support the <video> tag"
    />
    Your browser does not support the video tag.
  </video>
</header>

<script>
  document.addEventListener("astro:page-load", () => {
    const videoElement = document.querySelector(
      ".background-video source"
    ) as HTMLVideoElement
    const videos = [
      "https://videos.pexels.com/video-files/29603787/12740644_1920_1080_60fps.mp4",
      "https://videos.pexels.com/video-files/19115721/19115721-uhd_2560_1440_24fps.mp4",
      "https://videos.pexels.com/video-files/20363056/20363056-uhd_2560_1440_30fps.mp4",
      "https://videos.pexels.com/video-files/19886376/19886376-uhd_2560_1440_24fps.mp4",
      "https://videos.pexels.com/video-files/27939164/12267485_2560_1440_25fps.mp4",
      "https://videos.pexels.com/video-files/27165160/12087843_2560_1440_25fps.mp4",
    ]

    const randomIndex = Math.floor(Math.random() * videos.length)
    videoElement.src = videos[randomIndex]
    ;(videoElement.parentNode as HTMLMediaElement).load()
  })
</script>

<style>
  .header-top {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    background: var(--black-color);
    width: 100%;
    padding: 0.5rem;
    color: var(--white-color);
    font-family: "DM Serif Text";
    font-size: 0.875rem;

    a {
      color: var(--white-color);
      text-decoration: none;
      text-decoration: underline;
    }
  }

  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 1.5rem 2rem 2rem;
    position: relative;
    color: var(--white-color);

    .background-video {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
      filter: brightness(0.5);
    }

    .header-logo {
      display: grid;
      margin: auto;
      width: 2.5rem;
      margin-bottom: 1rem;
    }

    .header-date {
      font-size: 0.95rem;
      text-align: center;
    }

    .header-title {
      font-family: "Cinzel", serif;
      font-size: 4rem;
      text-transform: uppercase;
      text-align: center;

      img {
        width: 4rem;
      }
    }

    .header-description {
      max-width: 400px;
      font-size: 1.15rem;
      text-align: center;
    }

    .country-selector {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 0.5rem;
      margin-top: 2.5rem;
      overflow-x: auto;
      max-width: 600px;

      .country {
        display: flex;
        justify-content: center;
        min-width: fit-content;
        padding: 0.25rem 0.75rem;
        border-radius: 0.5rem;
        border: 0.0625rem solid var(--neutral-light-color);
        background-color: var(--white-color);
        color: var(--black-color);
        font-family: "DM Serif Text", serif;
        font-size: 1.1rem;
        text-decoration: none;
        cursor: pointer;
        box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);

        &.active,
        &:hover {
          background-color: var(--black-color);
          color: var(--white-color);
        }
      }
    }
  }

  @media (max-width: 800px) {
    .header-top {
      font-size: 0.75rem;
    }

    .header {
      .header-title {
        font-size: 2.4rem;
      }

      .header-description {
        font-size: 1rem;
      }

      .country-selector {
        width: 100vw;
        padding: 0 0.5rem;

        .country {
          font-size: 1rem;
        }
      }
    }
  }
</style>
