---
import Header from "@components/Header.astro"
import { ClientRouter } from "astro:transitions"

export interface Props {
  activeCountry: string
}

const { activeCountry } = Astro.props
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logo-white.png" />
    <meta name="generator" content={Astro.generator} />
    <title>África al Día</title>
    <ClientRouter />
  </head>
  <body>
    <Header activeCountry={activeCountry} />
    <slot />
  </body>
</html>

<style is:global>
  :root {
    --black-color: #000;
    --white-color: #fff;
    --neutral-light-color: #ddd;
  }

  @font-face {
    font-family: "DM Serif Text", serif;
    src: url("/fonts/DMSerifText-Regular.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
  }

  @font-face {
    font-family: "DM Serif Text", serif;
    src: url("/fonts/DMSerifText-Italic.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
    font-style: italic;
  }

  @font-face {
    font-family: "Cinzel", serif;
    src: url("/fonts/Cinzel-Bold.ttf") format("truetype");
    font-weight: 700;
    font-display: swap;
  }

  html {
    background: var(--white-color);
    color: var(--black-color);
  }

  /* START OF CSS RESET June 2024 */

  * {
    margin: 0;
    padding: 0;
  }
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    min-height: 100dvh;
  }
  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  p {
    text-wrap: pretty;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
  }

  img,
  video,
  svg {
    height: auto;
    max-width: 100%;
  }

  @media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
      transition: none;
    }
  }

  /* END OF CSS RESET June 2024 */

  h1 {
    font-family: "Cinzel", serif;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "DM Serif Text", serif;
  }

  p {
    line-height: 1.2;
  }
</style>
